In [2]:
#Open a text file in write mode
f=open("D:\textfile.txt",'w')
f.write("first line\n")
f.write("second line\n")
f.write("third line\n")
f.close()
#in read mode
k=open("D:\textfile.txt",'r')
print(k.readline())
print(k.readline())
print(k.readline())
k.close()

first line

second line

third line

In [3]:
#open text in append
m=open("D:\textfile.txt",'a')
m.write("fourth line\n")
m.write("fifth line\n")
m.close()
#in read mode
p=open("D:\textfile.txt",'r')
print(p.read())
p.close()

first line
second line
third line
fourth line
fifth line

In [7]:
with open("D:\textfile.txt",'r')as file:
  lines=file.readlines()
  print(lines)

['first line\n', 'second line\n', 'third line\n', 'fourth line\n', 'fifth line\n']

In [12]:
#json string
import json
x='{"name":"John","age":30,"city":"NewYork"}'
#convert json to string
y=json.loads(x)
print(y["age"])

30

In [13]:
#python dictionary
data={"name":"John","age":30,"city":"NewYork"}
#convert python dict to string
json_data=json.dumps(data)
print(json_data)

{"name": "John", "age": 30, "city": "NewYork"}